<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <!--<testsuite name="ZendSkeletonApplication Test Suite">-->
            <!--<directory>./module/Application/test</directory>-->
        <!--</testsuite>-->
        <testsuite name="KeroAuth Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <!--<file>/path/to/file</file>-->
            <!--<exclude>-->
                <!--<directory suffix=".php">/path/to/files</directory>-->
                <!--<file>/path/to/file</file>-->
            <!--</exclude>-->
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="data/coverage/report" lowUpperBound="35"
             highLowerBound="70"/>
        <log type="coverage-clover" target="data/coverage/coverage.xml"/>
        <log type="coverage-php" target="data/coverage/coverage.serialized"/>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="junit" target="data/coverage/logfile.xml"/>
        <log type="testdox-html" target="data/coverage/testdox.html"/>
        <log type="testdox-text" target="data/coverage/testdox.txt"/>
    </logging>
</phpunit>
